<div class="text-center">
<table class="table-full-width">
    <thead>

    </thead>
    <tbody>
        <tr>
            <td rowspan="2">
                <button type="button" class="btn btn-primary btn-rectangle btn-xl big-pit">0</button>
            </td>
            <td>
                <button type="button" class="btn btn-success btn-circle btn-xl">0</button>
            </td>
            <td>
                <button type="button" class="btn btn-success btn-circle btn-xl">0</button>
            </td>
            <td>
                <button type="button" class="btn btn-success btn-circle btn-xl">0</button>
            </td>
            <td>
                <button type="button" class="btn btn-success btn-circle btn-xl">0</button>
            </td>
            <td>
                <button type="button" class="btn btn-success btn-circle btn-xl">0</button>
            </td>
            <td>
                <button type="button" class="btn btn-success btn-circle btn-xl">0</button>
            </td>
            <td rowspan="2">
                <button type="button" class="btn btn-primary btn-rectangle btn-xl big-pit">0</button>
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-success btn-circle btn-xl">0</button>
            </td>
            <td>
                <button type="button" class="btn btn-success btn-circle btn-xl">0</button>
            </td>
            <td>
                <button type="button" class="btn btn-success btn-circle btn-xl">0</button>
            </td>
            <td>
                <button type="button" class="btn btn-success btn-circle btn-xl">0</button>
            </td>
            <td>
                <button type="button" class="btn btn-success btn-circle btn-xl">0</button>
            </td>
            <td>
                <button type="button" class="btn btn-success btn-circle btn-xl">0</button>
            </td>

        </tr>
    </tbody>
</table>
</div>