<div class="text-center">
    <table class="table-full-width">
        <thead>

        </thead>
        <tbody>
            <tr>
                <td> <span> Player 1</span> </td>
                <td class="text-center"> <i class="bi bi-arrow-left"></i></td>
                <td class="text-center"> <i class="bi bi-arrow-left"></i></td>
                <td class="text-center"> <i class="bi bi-arrow-left"></i></td>
                <td class="text-center"> <i class="bi bi-arrow-left"></i></td>
                <td class="text-center"> <i class="bi bi-arrow-left"></i></td>
                <td class="text-center"> <i class="bi bi-arrow-left"></i></td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="2">
                    <button type="button" class="btn btn-primary btn-rectangle btn-xl big-pit">0</button>
                </td>
                <td>
                    <button type="button" class="btn btn-success btn-circle btn-xl">0</button>
                </td>
                <td>
                    <button type="button" class="btn btn-success btn-circle btn-xl">0</button>
                </td>
                <td>
                    <button type="button" class="btn btn-success btn-circle btn-xl">0</button>
                </td>
                <td>
                    <button type="button" class="btn btn-success btn-circle btn-xl">0</button>
                </td>
                <td>
                    <button type="button" class="btn btn-success btn-circle btn-xl">0</button>
                </td>
                <td class="border-right">
                    <button type="button" class="btn btn-success btn-circle btn-xl">0</button>
                </td>
                <td rowspan="2">
                    <button type="button" class="btn btn-primary btn-rectangle btn-xl big-pit">0</button>
                </td>
            </tr>
            <tr>
                <td class="border-left border-top">
                    <button type="button" class="btn btn-success btn-circle btn-xl">0</button>
                </td>
                <td class="border-top">
                    <button type="button" class="btn btn-success btn-circle btn-xl">0</button>
                </td>
                <td class="border-top">
                    <button type="button" class="btn btn-success btn-circle btn-xl">0</button>
                </td>
                <td class="border-top">
                    <button type="button" class="btn btn-success btn-circle btn-xl">0</button>
                </td>
                <td class="border-top">
                    <button type="button" class="btn btn-success btn-circle btn-xl">0</button>
                </td>
                <td class="border-top">
                    <button type="button" class="btn btn-success btn-circle btn-xl">0</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="text-center"> <i class="bi bi-arrow-right"></i></td>
                <td class="text-center"> <i class="bi bi-arrow-right"></i></td>
                <td class="text-center"> <i class="bi bi-arrow-right"></i></td>
                <td class="text-center"> <i class="bi bi-arrow-right"></i></td>
                <td class="text-center"> <i class="bi bi-arrow-right"></i></td>
                <td class="text-center"> <i class="bi bi-arrow-right"></i></td>
                <td> <span> Player 2</span> </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
</div>