<div class="text-center">
    <table class="table-full-width">
        <thead>

        </thead>
        <tbody>
            <tr>
                <td> <span>{{playerTop.alias}}</span> </td>
                <td class="text-center"> <i class="bi bi-arrow-left"></i></td>
                <td class="text-center"> <i class="bi bi-arrow-left"></i></td>
                <td class="text-center"> <i class="bi bi-arrow-left"></i></td>
                <td class="text-center"> <i class="bi bi-arrow-left"></i></td>
                <td class="text-center"> <i class="bi bi-arrow-left"></i></td>
                <td class="text-center"> <i class="bi bi-arrow-left"></i></td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="2">
                    <button type="button" class="btn btn-primary btn-rectangle btn-xl big-pit">{{playerTop.total}}</button>
                </td>
                <td>
                    <button type="button" [disabled]="playerTop.disabled" (click)="onMovement(playerTop.playerId, 5)" class="btn btn-success btn-circle btn-xl">{{playerTop.pits[5]}}</button>
                </td>
                <td>
                    <button type="button" [disabled]="playerTop.disabled" (click)="onMovement(playerTop.playerId, 4)" class="btn btn-success btn-circle btn-xl">{{playerTop.pits[4]}}</button>
                </td>
                <td>
                    <button type="button" [disabled]="playerTop.disabled" (click)="onMovement(playerTop.playerId, 3)" class="btn btn-success btn-circle btn-xl">{{playerTop.pits[3]}}</button>
                </td>
                <td>
                    <button type="button" [disabled]="playerTop.disabled" (click)="onMovement(playerTop.playerId, 2)" class="btn btn-success btn-circle btn-xl">{{playerTop.pits[2]}}</button>
                </td>
                <td>
                    <button type="button" [disabled]="playerTop.disabled" (click)="onMovement(playerTop.playerId, 1)" class="btn btn-success btn-circle btn-xl">{{playerTop.pits[1]}}</button>
                </td>
                <td class="border-right">
                    <button type="button" [disabled]="playerTop.disabled" (click)="onMovement(playerTop.playerId, 0)" class="btn btn-success btn-circle btn-xl">{{playerTop.pits[0]}}</button>
                </td>
                <td rowspan="2">
                    <button type="button" class="btn btn-primary btn-rectangle btn-xl big-pit">{{playerBottom.total}}</button>
                </td>
            </tr>
            <tr>
                <td class="border-left border-top">
                    <button type="button" [disabled]="playerBottom.disabled" (click)="onMovement(playerBottom.playerId, 0)" class="btn btn-success btn-circle btn-xl">{{playerBottom.pits[0]}}</button>
                </td>
                <td class="border-top">
                    <button type="button" [disabled]="playerBottom.disabled" (click)="onMovement(playerBottom.playerId, 1)"  class="btn btn-success btn-circle btn-xl">{{playerBottom.pits[1]}}</button>
                </td>
                <td class="border-top">
                    <button type="button" [disabled]="playerBottom.disabled" (click)="onMovement(playerBottom.playerId, 2)"  class="btn btn-success btn-circle btn-xl">{{playerBottom.pits[2]}}</button>
                </td>
                <td class="border-top">
                    <button type="button" [disabled]="playerBottom.disabled" (click)="onMovement(playerBottom.playerId, 3)"  class="btn btn-success btn-circle btn-xl">{{playerBottom.pits[3]}}</button>
                </td>
                <td class="border-top">
                    <button type="button" [disabled]="playerBottom.disabled" (click)="onMovement(playerBottom.playerId, 4)"  class="btn btn-success btn-circle btn-xl">{{playerBottom.pits[4]}}</button>
                </td>
                <td class="border-top">
                    <button type="button" [disabled]="playerBottom.disabled" (click)="onMovement(playerBottom.playerId, 5)"  class="btn btn-success btn-circle btn-xl">{{playerBottom.pits[5]}}</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="text-center"> <i class="bi bi-arrow-right"></i></td>
                <td class="text-center"> <i class="bi bi-arrow-right"></i></td>
                <td class="text-center"> <i class="bi bi-arrow-right"></i></td>
                <td class="text-center"> <i class="bi bi-arrow-right"></i></td>
                <td class="text-center"> <i class="bi bi-arrow-right"></i></td>
                <td class="text-center"> <i class="bi bi-arrow-right"></i></td>
                <td> <span>{{playerBottom.alias}}</span> </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-12 text-center mt-5">
        <button type="button" class="btn btn-outline-primary me-3" (click)="onNewgame()">Start New Game</button>
        <button *ngIf="configuration.stepBackAllowed" type="button" class="btn btn-outline-dark me-3" (click)="onBackStep()">Undo Movement</button>
</div>